# Lake Management System CLI Configuration

# Default BigQuery Project ID
PROJECT_ID=dgt-gcp-moe-dlk-data-dev

# Update Metadata Configuration
METADATA_TABLE=governance_metadata.msi_metadata
JOB_RUN_TABLE=governance_metadata.job_runs
SLEEP_MSECONDS=500
MAX_PARALLEL_WORKERS=10

# Optional: Set default dataset for table-list command
# DEFAULT_DATASET=your-default-dataset
