# Lake Management System CLI Configuration

# Default BigQuery Project ID
PROJECT_ID=my-project-id

# Update Metadata Configuration
METADATA_TABLE=governance_metadata.test_metadata
JOB_RUN_TABLE=governance_metadata.job_runs
SLEEP_MSECONDS=500
MAX_PARALLEL_WORKERS=10

# Optional: Set default dataset for table-list command
# DEFAULT_DATASET=your-default-dataset
